*{
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-display: optional;
}
html{
    margin: 0 auto;
}
@media(max-width:990px){
    *{
        max-width: auto;
        margin: 0;
    }
}
.header-main{
    position: fixed;
    top:0;
    width:100%;
    padding-top: 2.7em;
    padding-bottom: 2.7em;
    z-index: 2;
    background-color: rgba(88, 29, 88, 0);
    transition: .5s;
}
.header-main header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    padding: 0 1.5em 0 1.5em;
}
.header-main .logo{
    position: absolute;
    left: 5%;
    top:25%;
}
.div-nav, .nav-desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2em;
    position: absolute;
    top:40%;
    right: 5%;
}
.nav-mobile{
    display: none;
 }
 .div-nav li{
   list-style: none;
   list-style-type: none;
   padding-left: 30px;
}
.div-nav a{
    text-decoration: none;
    color: #202020;
    font-size: 18px;
}
.div-nav a:hover{
    color: #DB0C14
}
@media (max-width:990px) { 
    .nav-desktop{
       display: none;
    }
    .nav-mobile{
        display: flex;
    }
    .div-nav, .nav-desktop{
        top:15%;
    }
      
}
h2{
    text-align: center;
    font-size: 35px;
    color: #202020;
    padding-left: 2em;
    padding-right: 2em;
}
.btn-geral{
    width:100%;
    background-color: #DB0C14 ;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
