*{
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
    margin: auto;
    font-family: 'Poppins',sans-serif;
    font-display: optional;
}
@media(max-width:990px){
    *{
        max-width: auto;
        margin: 0;
    }
}
.header-main{
    position: fixed;
    top:0;
    width:100%;
    padding-top: 2.7em;
    padding-bottom: 2.7em;
   /* -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.1); 
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.1);*/
    z-index: 2;
    background-color: rgba(88, 29, 88, 0);
}
.header-main header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    padding: 0 2em 0 2em;
}
.header-main .logo{
    position: absolute;
    left: 5%;
}
.div-nav, .nav-desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2em;
    position: absolute;
    right: 5%;
}
.nav-mobile{
    display: none;
 }
 .div-nav li{
   list-style: none;
   list-style-type: none;
   padding-left: 30px;
}
.div-nav a{
    text-decoration: none;
    color: #202020;
    font-size: 18px;
}
.div-nav a:hover{
    color: #DB0C14
}
@media (max-width:990px) { 
    .nav-desktop{
       display: none;
    }
    .nav-mobile{
        display: flex;
    }
      
}